@model EasyHarmonica.WEB.Models.LessonModel

@{
    ViewBag.Title = "Learning";
}

@using (Html.BeginForm())
{
    <!-- *********  Main part – headline ********** -->
    <div id="main_part_inner" style="background-image: url('../../Content/Images/main_img_1.jpg');">
        <div id="main_part_inner_in">

            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
    </div>

    <!-- *********  Content  ********** -->
<div id="content_inner">
    <div style="float:left">
        @if (Model.ImageData != null)
        {
            <div style="margin-right: 20px">
                <img width="300" height="200" src="@Url.Action("GetImage", "Lesson", new { name = Model.Name })" />
            </div>
        }
    </div>
    @Html.HiddenFor(model => model.Id)


    <hr />
    <div>
        @Html.DisplayFor(model => model.Info)
    </div>

    <div>
        @Html.Display("Try yourself: ")
    </div>
    <br />

    <div><b>@Html.DisplayName("Try your skills!")</b></div>
    <div>
        <a href=@Html.DisplayFor(model => model.Tuner)> @Html.DisplayFor(model => model.Tuner) </a>
    </div>

    <br/>

    <div style="align-content:center">
        <input type="submit" value="Finish" class="button_submit" />
    </div>

    <br />

    <span>@Html.ActionLink("To previous lesson", "GetNextLessonName", "Lesson", new { id = Model.Id - 2 }, null)</span> |
    <span>@Html.ActionLink("To next lesson", "GetNextLessonName", "Lesson", new { id = Model.Id }, null)</span>

    <br />

    <p>
        @Html.ActionLink("Back to List", "GetChapters", "Chapter") |
        @Html.ActionLink("Edit", "EditLesson", "Lesson", new { name = Model.Name }, null)
    </p>
</div>

    <hr />
}

